body{
    font-family: 'Arial',  sans-serif;
    background-color: #f6f8f9;
}

#site_header{
    background-color: white;
}

h1{
    display: inline;
}

.logo{
    vertical-align: middle;
}

.menu{
    background-color: white;
    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.paper_list{
    background-color: white;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 70%;
}
